* {
  margin: 0;
  padding: 0;
  text-align: center;
}

.header {
  background-color: #081b31;
  color: #fff;
  height: 5rem;
  line-height: 5rem; /* vertical alignment */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: .8rem;
  font-size: .8rem;
}

.header img{
  height: 50px;
  width: 50px;
  border-radius: 10px;
}

.score-board {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  margin-top: 3rem;
}

.scores {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 5rem;
}

#user-score,
#comp-score {
  font-size: 4rem;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}

.choice {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice:hover {
  cursor: pointer;
  background-color: #081b31;
  opacity: 0.9;
}

img {
  height: 9.3rem;
  width: 9.3rem;
  object-fit: cover;
  border-radius: 50%;
}

.msg-container {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

#msg {
  background-color: #081b31;
  color: #fff;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}

@media only screen and (max-width: 767px) {
  .score-board {
    font-size: 1.5rem;
  }
  #user-score,
  #comp-score {
    font-size: 3rem;
  }
  .choices {
    /* flex-direction: column;  */
    /* text-align: center;  */
    margin-top: 2rem; 
    gap:1.5rem;
  }

  .choice {
    height: 5.5rem;
    width: 5.5rem;
  }

  img {
    height: 5rem;
    width: 5rem;
    object-fit: cover;
    border-radius: 50%;
  }

  #msg {
    font-size: 1.2rem;
  }
}
