* {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  background-color: #081b31;
  color: #fff;
  height: 5rem;
  line-height: 5rem; /* vertical alignment */
}

.score-board{
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  margin-top: 3rem;
}

.scores{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 5rem;
}

#user-score,
#comp-score {
  font-size: 4rem;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}

.choice {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .choices {
    flex-direction: column; /* Adjust flex-direction for smaller screens */
    text-align: center; /* Align text to the center */
    margin-top: 2rem; /* Adjust top margin */
  }
}


.choice:hover {
  cursor: pointer;
  background-color: #081b31;
  opacity: .9;
}

img {
  height: 9.3rem;
  width: 9.3rem;
  object-fit: cover; 
  border-radius: 50%;
}

.msg-container {
  margin-top: 5rem;
}

#msg {
  background-color: #081b31;
  color: #fff;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}
